<div *ngIf="isLoading" class="grid place-items-center pt-5">
    <div class="progress"></div>
</div>
<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 pb-5">
    <app-customer-card *ngFor="let customer of customers" [customer]="customer"
        (delete)="onDelete($event)"></app-customer-card>
</div>

<app-modal *ngIf="customerToDelete" title="Delete customer" body="Are you sure you want to delete this customer?" (close)="closeModal()">
    <div class="flex gap-2 justify-end">
        <button class="text-zinc-500 px-5 py-1.5 rounded-md transition hover:bg-zinc-100 active:scale-95"
            (click)="closeModal()" [disabled]="isDeleting">Cancel</button>
        <button class="bg-red-100 text-red-500 px-5 py-1.5 rounded-md transition hover:bg-red-200 active:scale-95"
            (click)="deleteCustomer()" [disabled]="isDeleting">
            {{isDeleting ? 'Loading...':'Delete'}}
        </button>
    </div>
</app-modal>